
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <p>
        EmailList: @Html.DropDownList("seachEmail", "None")
        Name: @Html.TextBox("seachName")<br />
        <input type="submit" value="seach" />
    </p>
}
<table class="table" style="width:80%;">
    <tr>
        <th>
            Id
        </th>
        <th>
            用户名
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @if (Model == null)
    {
        <tr>
            <td colspan="4" class="text-center">暂无数据</td>
        </tr>
    }
    else
    {
        foreach (jikexueyuan.Models.AppUser user in Model)
        {
            <tr>
                <th>
                    @user.Id
                </th>
                <th>
                    @user.UserName
                </th>
                <th>
                    @user.Email
                </th>
            </tr>
        }
    }
</table>
<p>
    @Html.ActionLink("创建新账户", "Creat")
</p>

