@model IEnumerable<jikexueyuan.Models.AppUser>
@{
    ViewBag.Title = "Index";
}
@*@using (Html.BeginForm())
{
    <p>
        EmailList: @Html.DropDownList("searchEmail", "None")
        Name: @Html.TextBox("searchName")<br />
        <input type="submit" value="seach" />
    </p>
}*@
@*
异步执行ajax操作    
*@

@*@using (Ajax.BeginForm(
        new AjaxOptions
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partialUser"
        }))
    {
        <input type="search" name="searchName" />
        <input type="submit" value="search" />
    }*@
@*
自写异步ajax请求    
*@
<form method="get" action="@Url.Action("Index")" data-movies-ajax="true" data-movies-targetId="#partialUser">
    @*<input type="search" name="searchName" />*@
    
    <input type="search" name="searchName" 
           data-movies-autocomplete="@Url.Action("AutoComplete")" />
    <input type="submit" value="search" />
</form>




@Html.Partial("_partialUser",Model)
@*<table class="table" style="width:80%;">
    <tr>
        <th>
            Id
        </th>
        <th>
            用户名
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

    @if (Model == null)
    {
        <tr>
            <td colspan="4" class="text-center">暂无数据</td>
        </tr>
    }
    else
    {
        foreach (jikexueyuan.Models.AppUser user in Model)
        {
            <tr>
                <th>
                    @user.Id
                </th>
                <th>
                    @user.UserName
                </th>
                <th>
                    @user.Email
                </th>
            </tr>
            }
        }
</table>*@
<p>
    @Html.ActionLink("创建新账户", "Creat")
</p>

