@*@model IEnumerable<jikexueyuan.Models.AppUser>*@
@model IPagedList<AppUser>
@{
    ViewBag.Title = "Index";
}

<div>
    <ul>
        <li class="main">
            <a href="#">菜单1</a>
            <ul>
                <li><a href="#">子菜单1</a></li>
                <li><a href="#">子菜单2</a></li>
            </ul>
        </li>
        <li class="main">
            <a href="#">菜单2</a>
            <ul>
                <li><a href="#">子菜单1</a></li>
                <li><a href="#">子菜单2</a></li>
            </ul>
        </li>
        <li class="main">
            <a href="#">菜单3</a>
            <ul>
                <li><a href="#">子菜单1</a></li>
                <li><a href="#">子菜单2</a></li>
            </ul>
        </li>
    </ul>


    <br /><br />
    <ul>
        <li class="hmain">
            <a href="#">菜单1</a>
            <ul>
                <li><a href="#">子菜单1</a></li>
                <li><a href="#">子菜单2</a></li>
            </ul>
        </li>
        <li class="hmain">
            <a href="#">菜单2</a>
            <ul>
                <li><a href="#">子菜单1</a></li>
                <li><a href="#">子菜单2</a></li>
            </ul>
        </li>
        <li class="hmain">
            <a href="#">菜单3</a>
            <ul>
                <li><a href="#">子菜单1</a></li>
                <li><a href="#">子菜单2</a></li>
            </ul>
        </li>
    </ul>
</div>
<br /><br /><br /><br /><br /><br />


<div>
    <ul class="tabin-ul">
        <li class="tabin">标签1</li>
        <li>标签2</li>
        <li>标签3</li>
    </ul>
    <div class="contentfirst tabin-div">
        内容1
    </div>
    <div class="contentfirst">
        内容2
    </div>
    <div class="contentfirst">
        内容3
    </div>
</div>
<br /><br /><br /><br /><br />
<div>
    <ul id="tabsecond">
        <li class="tabin">装载完整页面</li>
        <li>装载部分页面</li>
        <li>装载网络数据</li>
    </ul>
    <div id="contentsecond">
        <div id="realcontent"></div>
    </div>
</div>

@*@using (Html.BeginForm())
    {
        <p>
            EmailList: @Html.DropDownList("searchEmail", "None")
            Name: @Html.TextBox("searchName")<br />
            <input type="submit" value="seach" />
        </p>
    }*@
@*
    异步执行ajax操作
*@

@*@using (Ajax.BeginForm(
        new AjaxOptions
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partialUser"
        }))
    {
        <input type="search" name="searchName" />
        <input type="submit" value="search" />
    }*@
@*
    自写异步ajax请求
*@
@Html.AntiForgeryToken()
<form method="get" action="@Url.Action("Index")" data-movies-ajax="true" data-movies-targetId="#partialUser">
    @*<input type="search" name="searchName" />*@
    <input type="search" name="searchName"
           data-movies-autocomplete="@Url.Action("AutoComplete")" />
    <input type="submit" value="search" />
</form>
@{
    var count = 10.01m;
    var date = DateTime.Now;
}
<div>
    @count.ToString("c")
</div>
<div>
    @date.ToShortDateString()
</div>

<div class="inerer">
    @*<p class="pt">hello</p>
        <button class="h">隐藏</button>
        <button class="s">显示</button>
        <button class="hs">隐藏/显示</button>*@
    @*<script src="~/scripts/jquery-1.12.4.js"></script>
        <script>
            $(document).ready(function () {
                for (var i = 0; i < 5; i++) {
                    $("<p>ttt</p>").appendTo(".inerer");
                }
                $("p").click(function () {
                    $(this).hide(2000, function () {
                        $(this).remove();
                    });
                });
            });
        </script>*@

    <div class="div1" style="background-color:aquamarine;width:50px;height:50px;float:left;"></div>
    <div class="div2" style="background-color:aquamarine;width:50px;height:50px;float:left;"></div>
    <div class="div3" style="background-color:aquamarine;width:50px;height:50px;float:left;"></div>
    @*<button class="fin">淡入</button>
        <button class="fout">淡出</button>
        <button class="ftoggle">淡入/淡出</button>
        <button class="fto">指定某一个透明度</button>*@

    <button class="sdown">滑动</button>
    <button class="sup">隐藏</button>
    <button class="stoggle">滑动/隐藏</button>

    <button class="reh">回调</button>



</div>













@Html.Partial("_partialUser", Model)
@*<table class="table" style="width:80%;">
        <tr>
            <th>
                Id
            </th>
            <th>
                用户名
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>

        @if (Model == null)
        {
            <tr>
                <td colspan="4" class="text-center">暂无数据</td>
            </tr>
        }
        else
        {
            foreach (jikexueyuan.Models.AppUser user in Model)
            {
                <tr>
                    <th>
                        @user.Id
                    </th>
                    <th>
                        @user.UserName
                    </th>
                    <th>
                        @user.Email
                    </th>
                </tr>
                }
            }
    </table>*@
<p>
    @Html.ActionLink("创建新账户", "Creat") |
    @Html.ActionLink("图片", "ImageShow")
</p>
@*<script>
    var url=@Url.Content("/Identity/Login");
</script>*@

